<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549653077400-tuss9389koe9c1if3r28nos76fi0clpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549653077400-tuss9389koe9c1if3r28nos76fi0clpd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>549653077400-0shetbajn07jaqn0fk154eu1ole9li94.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGzVH50GxKpAAU69gcux1_VMd45G1gJxc</string>
	<key>GCM_SENDER_ID</key>
	<string>549653077400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sendan.Fynoo-Services</string>
	<key>PROJECT_ID</key>
	<string>fynoo-c559a</string>
	<key>STORAGE_BUCKET</key>
	<string>fynoo-c559a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:549653077400:ios:b16b13cb6a44288d7b5fed</string>
	<key>DATABASE_URL</key>
	<string>https://fynoo-c559a.firebaseio.com</string>
</dict>
</plist>
