<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524361393739-fequ0gl9e8ote3q0k555jtlp05ktrj73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524361393739-fequ0gl9e8ote3q0k555jtlp05ktrj73</string>
	<key>API_KEY</key>
	<string>AIzaSyBrRppLxvRArmN5JodC4uPpKAh7vUMHG9c</string>
	<key>GCM_SENDER_ID</key>
	<string>524361393739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sendan.Fynoo-Services</string>
	<key>PROJECT_ID</key>
	<string>fynooagent</string>
	<key>STORAGE_BUCKET</key>
	<string>fynooagent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524361393739:ios:0440dab65e54ceddef8fce</string>
</dict>
</plist>